body {
  padding-top: 60px;
}

.project {
  margin-bottom: 40px;
}
.project h2 {
  border-bottom: solid 1px #555;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}
.project img {
  display: block;
  margin: 0 auto 20px auto;
  max-width: 100%;
}

.project .description {
  height: 120px;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
